{% macro console_log(console_offset, console_text) %}
    <div class="console_log"
         style="font-family: monospace; font-size: 0.9em; white-space: pre-wrap; width: 900px; overflow-x: auto"
         offset="{{ console_offset }}"
        >{{ console_text|safe }}</div>
{% endmacro %}


{#######################################}
{# Multiple service status information #}
{#######################################}

{% macro service_status_table(LServiceDicts, add_links=False) %}
    <div class="status_table_cont_div">
        <table>
            <thead><tr>
                <th>Service</th>
                <th>Port</th>
                <th>Bound to TCP</th>
                <th>Status</th>
                <th>Physical RAM (MB)</th>
                <th>CPU</th>
                <th>Workers</th>
            </tr></thead>
            {% for DService in LServiceDicts %}
                {{ service_status_row(DService, add_links) }}
            {% endfor %}
        </table>
    </div>
{% endmacro %}

{% macro service_status_row(DService, add_links=False) %}
    <tr>
        {% if add_links %}
            <td><a href="/service_info?port={{ DService['port'] }}">{{ DService['name']|e }}</a></td>
        {% else %}
            <td>{{ DService['name']|e }}</td>
        {% endif %}
        <td>{{ DService['port']|e }}</td>
        <td>{{ DService['bound_to_tcp'] or 'n/a'|e }}</td>
        <td>
            {{ DService['status']|e }}
            {% if DService['status'] == 'started' %}
                [<a href="/stop_service?port={{ DService['port'] }}" onclick="this.style.visibility = 'hidden'">stop</a>]
            {% elif DService['status'] == 'stopped' %}
                [<a href="/start_service?port={{ DService['port'] }}" onclick="this.style.visibility = 'hidden'">start</a>]
            {% endif %}
        </td>
        <td>{{ DService['physical_mem']|e }}</td>
        <td>{{ DService['cpu']|e }}</td>
        <td>{{ DService['workers']|e }}</td>
    </tr>
{% endmacro %}

{% macro overall_method_stats_html(LMethodStats) %}
    <table>
        <thead><tr>
            <th>Service</th>
            <th>Method Name</th>
            <th>Total Calls</th>
            <th>Total Call Time</th>
            <th>Average Call Time</th>
        </tr></thead>
        {% for port, svc, method_name, num_calls, avg_call_time, total_time in LMethodStats %}
            <tr>
                <td><a href="/service_info?port={{ port }}">{{ svc }}</a></td>
                <td>{{ method_name }}</td>
                <td>{{ num_calls }}</td>
                <td>{{ '%0.5f'| format(total_time|float) }}</td>
                <td>{{ '%0.5f'| format(avg_call_time|float) }}</td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{#######################################}
{#  Single service status information  #}
{#######################################}

{% macro service(DService) %}
    <div class="service_cont_div" id="service_cont_div_{{ DService['port'] }}">
        {{ service_status_table([DService]) }}

        <h2>Time Series Data</h2>
        <div class="cpu_chart" style="float: left; margin-bottom: 15px"
            ><canvas width="300" height="200"></canvas>
        </div>
        <div class="ram_chart" style="float: left; margin-bottom: 15px"
            ><canvas width="300" height="200"></canvas>
        </div>
        <div class="io_chart" style="float: left; margin-bottom: 15px"
            ><canvas width="300" height="200"></canvas>
        </div>

        <h2>Method Call Statistics</h2>
        <div id="method_stats_html_cont_div">
            {{ DService['method_stats_html']|safe }}
        </div>
        {{ accuracy_warning_message() }}

        <h2>Console Log</h2>
        {{ console_log(DService['console_offset'],
                       DService['console_text']) }}
    </div>
{% endmacro %}

{% macro method_stats_html(LMethodStats) %}
    <table>
        <thead><tr>
            <th>Method Name</th>
            <th>Total Calls</th>
            <th>Total Call Time</th>
            <th>Average Call Time</th>
        </tr></thead>
        {% for method_name, num_calls, avg_call_time, total_time in LMethodStats %}
            <tr>
                <td>{{ method_name }}</td>
                <td>{{ num_calls }}</td>
                <td>{{ '%0.5f'| format(total_time|float) }}</td>
                <td>{{ '%0.5f'| format(avg_call_time|float) }}</td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro accuracy_warning_message() %}
    <div style="color: brown; font-size: 0.9em">
        * Note: the times do not include the lock overhead, which often is 0.00005s+ per call.
        <br>Remote network (tcp) mode can also have an 0.001s+ overhead.
    </div>
{% endmacro %}

{% macro rand_animal() %}
    {# Of course this makes it go faster.. #}
    {{ ['🐎', '🐇', '🏃']
|random }}
{% endmacro %}
