{% from "service_macros.html" import service_status_table %}
<!DOCTYPE html>
<html>
<head>
    <title>Network Tools Service Web Monitor</title>

    <script src="/static/chart.min.js"></script>
    <script src="/static/AjaxRequest.js"></script>
    <script src="/static/LineChart.js"></script>
    <script src="/static/Services.js"></script>
</head>
<body>

<div style="width: 920px; padding: 10px; margin: 0 auto">
    <h1>Network Tools Service Web Monitor</h1>

    <div id="service_status_table_cont">
        {{ service_status_table(LServices, add_links=True) }}
    </div>
</div>

<script type="text/javascript">
    new Services({{ services_json|tojson }});
</script>

</body>
</html>
