{% from "service.html" import service %}
<!DOCTYPE html>
<html>
<head>
    <title>Network Tools Service Web Monitor</title>

    <script src="/static/chart.min.js"></script>
    <script src="/static/AjaxRequest.js"></script>
    <script src="/static/LineChart.js"></script>
    <script src="/static/Service.js"></script>
    <script src="/static/Services.js"></script>
</head>
<body>

<div style="width: 920px; padding: 10px; margin: 0 auto">
    <h1>Network Tools Service Web Monitor</h1>

    {% for DService in LServices %}
        {{ service(DService) }}
    {% endfor %}
</div>

<script type="text/javascript">
    new Services({{ services_json|tojson }});
</script>

</body>
</html>

